<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, 	log4net"/>
	</configSections>
	<appSettings>
		<!--PAVAN-->
		<!--mention download path then ftp adress *** DO NOT FORGET TO END WITH SLASH in ftp and local paths (\ or /)-->
		<add key="depoLocalFolderPath" value="C:\eBusSuppliesTGX150AuditFiles\Uploader\"/>
		<add key="TimeInterval" value="30"/>  <!--Minutes-->

    <!--Start - FPT Based on file name configuration-->
    <add key="FileNameMatchingID" value="620147,621129,600507" />

    <add key="620147UserName" value="ikhwezconfig"/>
    <add key="620147Password" value="e8us@4"/>
    <add key="620147FTP" value="ftp://154.0.173.173/"/>
    <add key="620147FTPAlternative" value=""/>
    <!--keep this entry empty if there is no need of ftp to alternative address-->
    <add key="620147FileBackUpPath" value="C:\eBusSuppliesTGX150AuditFiles\FTPTestFolder\OUT\"/>

    <add key="621129UserName" value="ikhwezconfig"/>
    <add key="621129Password" value="e8us@4"/>
    <add key="621129FTP" value="ftp://154.0.173.173/"/>
    <add key="621129FTPAlternative" value=""/>
    <!--keep this entry empty if there is no need of ftp to alternative address-->
    <add key="621129FileBackUpPath" value="C:\eBusSuppliesTGX150AuditFiles\FTPTestFolder\OUT\"/>

    <add key="600507UserName" value="ftpuser01"/>
    <add key="600507Password" value="e8us@5"/>
    <add key="600507FTP" value="ftp://154.0.173.173/"/>
    <add key="600507FTPAlternative" value=""/>
    <!--keep this entry empty if there is no need of ftp to alternative address-->
    <add key="600507FileBackUpPath" value="C:\eBusSuppliesTGX150AuditFiles\FTPTestFolder\OUT\"/>

    <add key="DefaultUserName" value="ntambanaconfig"/>
    <add key="DefaultPassword" value="e8us@2"/>
    <add key="DefaultFTP" value="ftp://154.0.173.173/"/>
    <add key="DefaultFTPAlternative" value=""/>
    <!--keep this entry empty if there is no need of ftp to alternative address-->
    <add key="DefaultFileBackUpPath" value="C:\eBusSuppliesTGX150AuditFiles\FTPTestFolder\OUT\"/>
    <!--Start - FPT Based on file name configuration-->
    
	</appSettings>
	<!--DONT CHANGE ANYTHING HERE.. JUST MAKE SURE LOG FOLDER EXISTS INSIDE C DRIVE-->
	<log4net>
		<appender name="FileAppender" type="log4net.Appender.RollingFileAppender,log4net">
			<file value="c:\\Log\\ebusLogs.txt" />
			<rollingStyle value="Date" />
			<datePattern value="yyyyMMdd" />
			<appendToFile value="true" />
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="INFO" />
				<levelMax value="FATAL" />
			</filter>
		</appender>
		<root>
			<level value="DEBUG"/>
			<appender-ref ref="FileAppender"/>
		</root>
	</log4net>
</configuration>