<div class="form-group ">
    <div align="left" class="col-md-12 col-sm-12 ">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle col-md-4 col-sm-12" type="button" id="shortcuts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <b>Shortcuts</b>
                <span class="caret"></span>
                <img style="height: 20px;width: 30px;" src="~/Images/Shortcuts.png" />
            </button>
            <ul id="ddshortcuts" class="dropdown-menu" aria-labelledby="shortcuts">
                <li><a href="#">Today</a></li>
                <li><a href="#">Yesterday</a></li>
                <li><a href="#">This week</a></li>
                <li><a href="#">Last week</a></li>
                <li><a href="#">Month to date</a></li>
                <li><a href="#">Last Month</a></li>
            </ul>
        </div>
    </div>
</div>
