<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="EzakheniTGX" connectionString="Server= 41.76.215.229;Database=EzakheniTGX;User ID=sysebus;Password=5pyCh3ck;"  providerName="System.Data.SqlClient" />
    <add name="Ikhwezi" connectionString="Server= 41.76.215.229;Database=Ikhwezi;User ID=sysebus;Password=5pyCh3ck;"  providerName="System.Data.SqlClient" />-->
    <!--<add name="UGU" connectionString="Server= 41.76.215.229;Database=UGU;User ID=sysebus;Password=5pyCh3ck;"  providerName="System.Data.SqlClient" />-->
    <!--<add name="Ntambanana" connectionString="Server= 41.76.215.229;Database=Ntambanana;User ID=sysebus;Password=5pyCh3ck;"  providerName="System.Data.SqlClient" />
    <add name="Mlalazi" connectionString="Server= 41.76.215.229;Database=Mlalazi;User ID=sysebus;Password=5pyCh3ck;"  providerName="System.Data.SqlClient" />-->
    <!--<add name="Matatiele" connectionString="Server= 41.76.215.229;Database=Matatiele;User ID=sysebus;Password=5pyCh3ck;"  providerName="System.Data.SqlClient" />-->
    <add name="Gare" connectionString="Server= 41.76.215.229;Database=Gare;User ID=sysebus;Password=5pyCh3ck;"  providerName="System.Data.SqlClient" />
    <!--<add name="Mthonjaneni" connectionString="Server= 41.76.215.229;Database=Mthonjaneni;User ID=sysebus;Password=5pyCh3ck;"  providerName="System.Data.SqlClient" />
    <add name="Sihlangene" connectionString="Server= 41.76.215.229;Database=Sihlangene;User ID=sysebus;Password=5pyCh3ck;"  providerName="System.Data.SqlClient" />
    <add name="GautengCoaches" connectionString="Server= 41.76.215.229;Database=GautengCoaches;User ID=sysebus;Password=5pyCh3ck;"  providerName="System.Data.SqlClient" />
    <add name="DemoeBus" connectionString="Server= 41.76.215.229;Database=DemoeBus;User ID=sysebus;Password=5pyCh3ck;"  providerName="System.Data.SqlClient" />
    <add name="Kwamthethwa" connectionString="Server= 41.76.215.229;Database=Kwamthethwa;User ID=sysebus;Password=5pyCh3ck;"  providerName="System.Data.SqlClient" />
    <add name="Bonisons" connectionString="Server= 41.76.215.229;Database=Bonisons;User ID=sysebus;Password=5pyCh3ck;"  providerName="System.Data.SqlClient" />
    <add name="Demo" connectionString="Server= 41.76.215.229;Database=Demo;User ID=sysebus;Password=5pyCh3ck;"  providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <add key="DirectoryPath" value="C:\\eBusSuppliesTGX150AuditFiles\\Incoming\\"/>
    <add key="LogPath" value="C:\\eBusSuppliesTGX150AuditFiles\\LogFiles\\"/>
    <add key="EmailTemplate" value="C:\\eBusSuppliesTGX150AuditFiles\\"/>
    <add key="EnableEmailTrigger" value="true"/>
    <add key="DetailedLogging" value="false"/>
    <add key="DuplicateEmailSubject" value="TGX150 Import Alert - File Moved to Duplicate"/>
    <add key="ErrorEmailSubject" value="TGX150 Import Alert - Corrupt / Error File"/>
    <add key="DateProblemEmailSubject" value=" TGX150 Import Alert - File With Date Problem"/>

    <!--Email Configurations - Start-->
    <!-- UseGmailForEmail = true for gmail false for non gmail-->
    <add key="UseGmailForEmail" value="true"/>
    <add key="ToEmail" value="kishor.shv@gmail.com"/>
    <add key="FromEmail" value="lourens@ebussupplies.co.za"/>
    <add key="Host" value="mail.ebussupplies.co.za"/>
    <add key="Port" value="25"/>
    <add key="EmailUserName" value="lourens@ebussupplies.co.za"/>
    <add key="EbusPassword" value="ebus0117836833"/>

    <add key="GmailFromEmail" value="eBusSuppliesReports@gmail.com"/>
    <add key="GmailHost" value="smtp.gmail.com"/>
    <add key="GmailPort" value="587"/>
    <add key="GmailUserName" value="eBusSuppliesReports@gmail.com"/>
    <add key="GmailPassword" value="Reports@123"/>
    <!--Email Configurations - End-->

    <add key="DefaultNonRevenueValue" value="800"/>
    <add key="IgnoreCheckList" value="false"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
