<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="EbusImporter" connectionString="Server=BANKUMARKD1-M;Database=EbusImporter;integrated security=True;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="atamelang70" connectionString="Server= 41.76.211.195;Database=AtamelangTGX;User ID=sa;Password=Letmein123;"  providerName="System.Data.SqlClient" />-->
    <!--<add name="Matatiele" connectionString="Server= 41.76.211.195;Database=Matatiele;User ID=sa;Password=Letmein123;"  providerName="System.Data.SqlClient" />-->
    <!--<add name="tabanana30" connectionString="Server= 41.76.211.195;Database=Ntambanana;User ID=sa;Password=Letmein123;"  providerName="System.Data.SqlClient" />
    <add name="mokopane10" connectionString="Server= 41.76.211.195;Database=GNTMokopane;User ID=sa;Password=Letmein123;"  providerName="System.Data.SqlClient" />
    <add name="marblehall20" connectionString="Server= 41.76.211.195;Database=GNTMarbleHall;User ID=sa;Password=Letmein123;"  providerName="System.Data.SqlClient" />
    <add name="gautengcoaches40" connectionString="Server= 41.76.211.195;Database=GautengCoaches;User ID=sa;Password=Letmein123;"  providerName="System.Data.SqlClient" />-->
    <!--<add name="ugu50" connectionString="Server= 41.76.211.195;Database=UGU;User ID=sa;Password=Letmein123;"  providerName="System.Data.SqlClient" />-->
    <add name="ikhwezi60" connectionString="Server= 41.76.211.195;Database=Ikhwezi;User ID=sa;Password=Letmein123;"  providerName="System.Data.SqlClient" />
    <!--<add name="atamelang70" connectionString="Server= 41.76.211.195;Database=AtamelangTGX;User ID=sa;Password=Letmein123;"  providerName="System.Data.SqlClient" />
    <add name="sihlangene80" connectionString="Server= 41.76.211.195;Database=Sihlangene;User ID=sa;Password=Letmein123;"  providerName="System.Data.SqlClient" />
    <add name="ezakheni90" connectionString="Server= 41.76.211.195;Database=EzakheniTGX;User ID=sa;Password=Letmein123;"  providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="DirectoryPath" value="C:\\eBusSuppliesTGX150AuditFiles\\Incoming\\"/>
    <add key="LogPath" value="C:\\eBusSuppliesTGX150AuditFiles\\LogFiles\\"/>
    <add key="EmailTemplate" value="C:\\eBusSuppliesTGX150AuditFiles\\"/>
    <add key="EnableEmailTrigger" value="true"/>
    <add key="DetailedLogging" value="false"/>
    <add key="DuplicateEmailSubject" value="TGX150 Import Alert - File Moved to Duplicate"/>
    <add key="ErrorEmailSubject" value="TGX150 Import Alert - Corrupt / Error File"/>
    <add key="DateProblemEmailSubject" value=" TGX150 Import Alert - File With Date Problem"/>

    <!--Email Configurations - Start-->
    <!-- UseGmailForEmail = true for gmail false for non gmail-->
    <add key="UseGmailForEmail" value="true" />
    <add key="ToEmail" value="kishor.shv@gmail.com"/>
    <add key="FromEmail" value="lourens@ebussupplies.co.za"/>
    <add key="Host" value="mail.ebussupplies.co.za"/>
    <add key="Port" value="25"/>
    <add key="EmailUserName" value="lourens@ebussupplies.co.za"/>
    <add key="EbusPassword" value="ebus0117836833"/>

    <add key="GmailFromEmail" value="eBusSuppliesReports@gmail.com"/>
    <add key="GmailHost" value="smtp.gmail.com"/>
    <add key="GmailPort" value="587"/>
    <add key="GmailUserName" value="eBusSuppliesReports@gmail.com"/>
    <add key="GmailPassword" value="Reports@123"/>
    <!--Email Configurations - End-->

    <add key="DefaultNonRevenueValue" value="800"/>
    <add key="IgnoreCheckList" value="false"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
