<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="tabanana30" connectionString="Server= 41.76.215.229;Database=Ntambanana;User ID=sysebus;Password=5pyCh3ck;" providerName="System.Data.SqlClient" />
    <add name="mokopane10" connectionString="Server= 41.76.215.229;Database=GNTMokopane;User ID=sysebus;Password=5pyCh3ck;" providerName="System.Data.SqlClient" />
    <add name="marblehall20" connectionString="Server= 41.76.215.229;Database=GNTMarbleHall;User ID=sysebus;Password=5pyCh3ck;" providerName="System.Data.SqlClient" />
    <add name="gautengcoaches40" connectionString="Server= 41.76.215.229;Database=GautengCoaches;User ID=sysebus;Password=5pyCh3ck;" providerName="System.Data.SqlClient" />
    <add name="ugu50" connectionString="Server= 41.76.215.229;Database=UGU;User ID=sysebus;Password=5pyCh3ck;" providerName="System.Data.SqlClient" />
    <add name="ikhwezi60" connectionString="Server= 41.76.215.229;Database=Ikhwezi;User ID=sysebus;Password=5pyCh3ck;" providerName="System.Data.SqlClient" />
    <add name="atamelang70" connectionString="Server= 41.76.215.229;Database=AtamelangTGX;User ID=sysebus;Password=5pyCh3ck;" providerName="System.Data.SqlClient" />
    <add name="sihlangene80" connectionString="Server= 41.76.215.229;Database=Sihlangene;User ID=sysebus;Password=5pyCh3ck;" providerName="System.Data.SqlClient" />
    <add name="ezakheni90" connectionString="Server= 41.76.215.229;Database=EzakheniTGX;User ID=sysebus;Password=5pyCh3ck;" providerName="System.Data.SqlClient" />
    <add name="mthonjaneni95" connectionString="Server= 41.76.215.229;Database=Mthonjaneni;User ID=sysebus;Password=5pyCh3ck;" providerName="System.Data.SqlClient" />
    <add name="ikhtest75" connectionString="Server= 41.76.215.229;Database=IKHTest;User ID=sysebus;Password=5pyCh3ck;" providerName="System.Data.SqlClient" />
    <add name="matatiele35" connectionString="Server= 41.76.215.229;Database=Matatiele;User ID=sysebus;Password=5pyCh3ck;" providerName="System.Data.SqlClient" />
    <add name="mlalazi25" connectionString="Server= 41.76.215.229;Database=Mlalazi;User ID=sysebus;Password=5pyCh3ck;" providerName="System.Data.SqlClient" />
    <add name="kwamthethwa10" connectionString="Server= 41.76.215.229;Database=Kwamthethwa;User ID=sysebus;Password=5pyCh3ck;" providerName="System.Data.SqlClient" />
    <add name="bonisons10" connectionString="Server= 41.76.215.229;Database=Bonisons;User ID=sysebus;Password=5pyCh3ck;" providerName="System.Data.SqlClient" />
    <add name="demoebus10" connectionString="Server= 41.76.215.229;Database=DemoeBus;User ID=sysebus;Password=5pyCh3ck;" providerName="System.Data.SqlClient" />
    <add name="zululand10" connectionString="Server= 41.76.215.229;Database=zululand;User ID=sysebus;Password=5pyCh3ck;" providerName="System.Data.SqlClient" />
    <add name="stabus10" connectionString="Server= 41.76.215.229;Database=stabus;User ID=sysebus;Password=5pyCh3ck;" providerName="System.Data.SqlClient" />
    <add name="myboet10" connectionString="Server= 41.76.215.229;Database=myboet;User ID=sysebus;Password=5pyCh3ck;" providerName="System.Data.SqlClient" />
    <add name="gare10" connectionString="Server= 41.76.215.229;Database=Gare;User ID=sysebus;Password=5pyCh3ck;" providerName="System.Data.SqlClient" />
    <add name="EBusReportUserAdministrationContext" connectionString="metadata=res://*/AdministrationDB.UserAdministrationContext.csdl|res://*/AdministrationDB.UserAdministrationContext.ssdl|res://*/AdministrationDB.UserAdministrationContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=41.76.215.229;initial catalog=EbusReportUserAdministration;user id=sysebus;password=5pyCh3ck;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--add TO email ids, selparated by colon-->
    <add key="EmailToList" value="info@ebussupplies.co.za;pavan@ebussupplies.co.za" />
    <!--below key is used in yearly break down filters-->
    <add key="DataAvailableFrom" value="2015" />
    <!--Email Configurations - Start-->
    <!-- UseGmailForEmail = true for gmail false for non gmail-->
    <add key="UseGmailForEmail" value="true" />
    <add key="GmailSMTP" value="smtp.gmail.com" />
    <add key="GmailSMTPPort" value="587" />
    <add key="GmailUserName" value="eBusSuppliesReports@gmail.com" />
    <add key="GmailPassword" value="Reports@123" />
    <add key="GmailFromEmail" value="eBusSuppliesReports@gmail.com" />
    <add key="SMTP" value="mail.ebussupplies.co.za" />
    <add key="SMTPPort" value="25" />
    <add key="UserName" value="info@ebussupplies.co.za" />
    <add key="Password" value="ebus0117836833" />
    <add key="ToEmail" value="kishor.shv@gmail.com" />
    <add key="FromEmail" value="info@ebussupplies.com" />
    <!--Email Configurations - End-->
    <add key="EnableMailTracking" value="true" />
    <add key="Provider" value="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=##filepath##;Extended Properties=dBase IV" />
    <add key="DefaultPINSeed" value="4089" />
    <add key="SpecialUsers" value="abu," />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="info@ebussupplies.com">
        <network host="mail.ebussupplies.co.za" port="25" userName="info@ebussupplies.co.za" password="ebus0117836833" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <httpRuntime targetFramework="4.5.1" />
    <compilation debug="true" targetFramework="4.5.1" />
    <httpCookies httpOnlyCookies="true" />
    <authentication mode="Forms">
      <forms loginUrl="~/Login/Login" defaultUrl="~/Report/Index" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.DataDefModel" publicKeyToken="692FBEA5521E1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.Controllers" publicKeyToken="692FBEA5521E1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.CubeDefModel" publicKeyToken="692FBEA5521E1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.CommLayer" publicKeyToken="692FBEA5521E1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.XmlSerialize" publicKeyToken="692FBEA5521E1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.CommonObjectModel" publicKeyToken="692FBEA5521E1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.ReportDefModel" publicKeyToken="692FBEA5521E1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.ClientDoc" publicKeyToken="692FBEA5521E1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportSource" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Web" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.145" newVersion="1.1.0.145" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>