<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="tabanana30" connectionString="Server= 41.76.211.195;Database=Ntambanana;User ID=sa;Password=Letmein123;"  providerName="System.Data.SqlClient" />
    <add name="mokopane10" connectionString="Server= 41.76.211.195;Database=GNTMokopane;User ID=sa;Password=Letmein123;"  providerName="System.Data.SqlClient" />
    <add name="marblehall20" connectionString="Server= 41.76.211.195;Database=GNTMarbleHall;User ID=sa;Password=Letmein123;"  providerName="System.Data.SqlClient" />
    <add name="gautengcoaches40" connectionString="Server= 41.76.211.195;Database=GautengCoaches;User ID=sa;Password=Letmein123;"  providerName="System.Data.SqlClient" />
    <add name="ugu50" connectionString="Server= 41.76.211.195;Database=UGU;User ID=sa;Password=Letmein123;"  providerName="System.Data.SqlClient" />
    <add name="ikhwezi60" connectionString="Server= 41.76.211.195;Database=Ikhwezi;User ID=sa;Password=Letmein123;"  providerName="System.Data.SqlClient" />
    <add name="atamelang70" connectionString="Server= 41.76.211.195;Database=AtamelangTGX;User ID=sa;Password=Letmein123;"  providerName="System.Data.SqlClient" />
    <add name="sihlangene80" connectionString="Server= 41.76.211.195;Database=Sihlangene;User ID=sa;Password=Letmein123;"  providerName="System.Data.SqlClient" />
    <add name="ezakheni90" connectionString="Server= 41.76.211.195;Database=EzakheniTGX;User ID=sa;Password=Letmein123;"  providerName="System.Data.SqlClient" />
    <add name="mthonjaneni95" connectionString="Server= 41.76.211.195;Database=Mthonjaneni;User ID=sa;Password=Letmein123;"  providerName="System.Data.SqlClient" />
    <add name="matatiele35" connectionString="Server= 41.76.211.195;Database=Matatiele;User ID=sa;Password=Letmein123;"  providerName="System.Data.SqlClient" />
    <add name="EBusReportUserAdministrationContext" connectionString="metadata=res://*/AdministrationDB.UserAdministrationContext.csdl|res://*/AdministrationDB.UserAdministrationContext.ssdl|res://*/AdministrationDB.UserAdministrationContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=41.76.211.195;initial catalog=EBusReportUserAdministration;persist security info=True;user id=sa;password=Letmein123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--add TO email ids, selparated by colon-->
    <add key="EmailToList" value="info@ebussupplies.co.za;pavan@ebussupplies.co.za" />
    <!--below key is used in yearly break down filters-->
    <add key="DataAvailableFrom" value="2015" />
    <add key="SMTP" value="smtp.gmail.com" />
    <add key="SMTPPort" value="587" />
    <add key="UserName" value="ebusspecialhire@gmail.com" />
    <add key="Password" value="p0rt0n0va" />
    <add key="ToEmail" value="kishor.shv@gmail.com" />
    <add key="FromEmail" value="ebusspecialhire@gmail.com" />
    <add key="EnableMailTracking" value="true" />
    <add key="Provider" value="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=##filepath##;Extended Properties=dBase IV" />
    <add key="DefaultPINSeed" value="4089"/>
    <add key="SpecialUsers" value="abu,"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="info@ebussupplies.com">
        <network host="mail.ebussupplies.co.za" port="25" userName="info@ebussupplies.co.za" password="ebus0117836833" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <httpRuntime targetFramework="4.5.1" />
    <compilation debug="true" targetFramework="4.5.1" />
    <httpCookies httpOnlyCookies="true" />
    <authentication mode="Forms">
      <forms loginUrl="~/Login/Login" defaultUrl="~/Report/Index" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
