<?xml version="1.0"?>
<configuration>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<appSettings>
		<add key="Mode" value="DAILY"/>
		<!-- <add key ="Mode" value ="Interval"/>-->
		<add key="IntervalMinutes" value="1"/>
		<add key="ScheduledTime" value="21:30:00"/>
		<add key="ikhwezi60ToEmail" value="kishor.shv@gmail.com"/>
    <add key="tabanana30ToEmail" value="kishor.shv@gmail.com"/>
		<add key="FromEmail" value="kishor.shv@gmail.com"/>
		<add key="SMTP" value="mail.ebussupplies.co.za"/>
		<add key="SMTPPort" value="25"/>
		<add key="UserName" value="lourens@ebussupplies.co.za"/>
		<add key="Password" value="ebus0117836833"/>
		<add key="GmailSMTP" value="smtp.gmail.com"/>
		<add key="GmailSMTPPort" value="587"/>
		<add key="GmailUserName" value="ebusspecialhire@gmail.com"/>
		<add key="GmailPassword" value="p0rt0n0va"/>
		<add key="Gmail" value="true"/>
		<add key="SchVsNotOperReportPath" value="C:\Users\kumarkd\Desktop\SpecialHire\NewWorkingFolder\EBusCustomerReports\Reports.Web\CrystalReports\Rpt\ScheduledNotOperated.rpt"/>
		<add key="SchVsNotOperReportAtamalangPath" value="C:\Users\kumarkd\Desktop\SpecialHire\NewWorkingFolder\EBusCustomerReports\Reports.Web\CrystalReports\Rpt\ScheduledNotOperated.rpt"/>
		<add key="EnablesCustomersConStr" value="ikhwezi60"/>
		<add key="EmailSubject" value="##CUSTOMER##: Automated Reports Email  "/>
		<add key="LogFilePath" value="C:\EBusReportServiceLogFiles"/>
		<add key="EBusReportServiceFilesPath" value="C:\\EBusReportServiceFiles\\"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
		<add key="tabanana30" value="Server= 41.76.211.195;Database=Ntambanana;User ID=sa;Password=Letmein123;"/>
		<add key="mokopane10" value="Server= 41.76.211.195;Database=GNTMokopane;User ID=sa;Password=Letmein123;"/>
		<add key="marblehall20" value="Server= 41.76.211.195;Database=GNTMarbleHall;User ID=sa;Password=Letmein123;"/>
		<add key="gautengcoaches40" value="Server= 41.76.211.195;Database=GautengCoaches;User ID=sa;Password=Letmein123;"/>
		<add key="ugu50" value="Server= 41.76.211.195;Database=UGU;User ID=sa;Password=Letmein123;"/>
		<add key="ikhwezi60" value="Server= 41.76.211.195;Database=Ikhwezi;User ID=sa;Password=Letmein123;"/>
		<add key="atamelang70" value="Server= 41.76.211.195;Database=AtamelangTGX;User ID=sa;Password=Letmein123;"/>
		<add key="sihlangene80" value="Server= 41.76.211.195;Database=Sihlangene;User ID=sa;Password=Letmein123;"/>
		<add key="ezakheni90" value="Server= 41.76.211.195;Database=EzakheniTGX;User ID=sa;Password=Letmein123;"/>
	</appSettings>
</configuration>
