<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, 	log4net"/>
	</configSections>
	<appSettings>
		<add key="TimeInterval" value="30"/>
		<add key="DepoName" value="IkhweziDepot,Kuleka,BConection,John,CCF,CASIM,Mtunzi"/>
		<!--*********************************IkhweziDepot*********************************-->
		<add key="IkhweziDepotFtpServerAddress" value="ftp://154.0.162.166/Pavan/FTP-testing-upload/"/>
		<add key="IkhweziDepotFtpServerAddressOut" value="ftp://154.0.162.166/Pavan/FTP-testing-upload/Out/"/>
		<add key="IkhweziDepotLocalFolderPath" value="c:\Program Files\Questek\In\"/>
		<add key="IkhweziDepotUserName" value="ebusftp"/>
		<add key="IkhweziDepotPassword" value="e8us@ftp"/>
		<add key="IkhweziDepotLocalBackupPathPath" value="c:\Program Files\Questek\backup\"/>
		<!--*********************************Kuleka*********************************-->
		<add key="KulekaFtpServerAddress" value="ftp://154.0.162.166/"/>
		<add key="KulekaFtpServerAddressOut" value="ftp://154.0.162.166/Out/"/>
		<add key="KulekaLocalFolderPath" value="c:\Program Files\Questek\QMeritImport\Data\Ikhwezi\In\"/>
		<add key="KulekaUserName" value="ikhwezimodule"/>
		<add key="KulekaPassword" value="e8us@3"/>
		<add key="KulekaLocalBackupPathPath" value=""/>
		<!--*********************************BConection*********************************-->
		<add key="BConectionFtpServerAddress" value="ftp://154.0.162.166/"/>
		<add key="BConectionFtpServerAddressOut" value="ftp://154.0.162.166/Out/"/>
		<add key="BConectionLocalFolderPath" value="c:\Program Files\Questek\QMeritImport\Data\Ikhwezi\In\"/>
		<add key="BConectionUserName" value="ftpuser01"/>
		<add key="BConectionPassword" value="e8us@5"/>
		<add key="BConectionLocalBackupPathPath" value=""/>
		<!--*********************************John*********************************-->
		<add key="JohnFtpServerAddress" value="ftp://154.0.162.166/"/>
		<add key="JohnFtpServerAddressOut" value="ftp://154.0.162.166/Out/"/>
		<add key="JohnLocalFolderPath" value="c:\Program Files\Questek\QMeritImport\Data\Ntambanana\In\"/>
		<add key="JohnUserName" value="ntambanamodule"/>
		<add key="JohnPassword" value="e8us@1"/>
		<add key="JohnLocalBackupPathPath" value=""/>
		<!--*********************************CCF*********************************-->
		<add key="CCFFtpServerAddress" value="ftp://154.0.162.166/"/>
		<add key="CCFFtpServerAddressOut" value="ftp://154.0.162.166/Out/"/>
		<add key="CCFLocalFolderPath" value="c:\Program Files\Questek\QMeritImport\Data\Ntambanana\In\"/>
		<add key="CCFUserName" value="ntambanaconfig"/>
		<add key="CCFPassword" value="e8us@2"/>
		<add key="CCFLocalBackupPathPath" value=""/>
		<!--*********************************CASIM*********************************-->
		<add key="CASIMFtpServerAddress" value="ftp://154.0.162.166/"/>
		<add key="CASIMFtpServerAddressOut" value="ftp://154.0.162.166/Out/"/>
		<add key="CASIMLocalFolderPath" value="c:\Program Files\Questek\QMeritImport\Data\Ntambanana\In\"/>
		<add key="CASIMUserName" value="ftpuser02"/>
		<add key="CASIMPassword" value="e8us@6"/>
		<add key="CASIMLocalBackupPathPath" value=""/>
		<!--*********************************Mtunzi*********************************-->
		<add key="MtunziFtpServerAddress" value="ftp://154.0.162.166/"/>
		<add key="MtunziFtpServerAddressOut" value="ftp://154.0.162.166/Out/"/>
		<add key="MtunziLocalFolderPath" value="c:\Program Files\Questek\QMeritImport\Data\Ikhwezi\In\"/>
		<add key="MtunziUserName" value="ftpuser03"/>
		<add key="MtunziPassword" value="astra123$"/>
		<add key="MtunziLocalBackupPathPath" value=""/>
	</appSettings>
	<!--DONT CHANGE ANYTHING HERE.. JUST MAKE SURE LOG FOLDER EXISTS INSIDE C DRIVE-->
	<log4net>
		<appender name="FileAppender" type="log4net.Appender.RollingFileAppender,log4net">
			<file value="c:\\eBusSuppliesLog\\ebusFtpDownloadLogs.txt" />
			<rollingStyle value="Date" />
			<datePattern value="yyyyMMdd" />
			<appendToFile value="true" />
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="INFO" />
				<levelMax value="FATAL" />
			</filter>
		</appender>
		<root>
			<level value="DEBUG"/>
			<appender-ref ref="FileAppender"/>
		</root>
	</log4net>
</configuration>